.basic-details-intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
}

.basic-details {
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  border-radius: 8px;
  border: 1px solid #000;
}

.name-details, .form-control, .email-details, .username-details, .user-description, .surname-details, .phone-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.basic-details-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.basic-details-intro h2 {
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  text-align: left;
}

.basic-details-intro p {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  text-align: left;
}

input[type="text"][disabled] {
  background-color: lightgray;
  border: none;
}