.avatar-details {
  vertical-align: middle;
  width: 128px;
  height: 128px;
  border-radius: 50%;
  border-width: 2px;
  border-color: gray;
  border-style: solid;
}

.user-card {
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  border-radius: 8px;
  border: 1px solid #000;
}

.user-card-details {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-self: stretch;
  text-align: left;
}

.user-info h3 {
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
}